In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [2]:
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
weekdaysSeries = pd.Series(weekdays)
weekdaysSeries

0       Monday
1      Tuesday
2    Wednesday
3     Thursday
4       Friday
5     Saturday
6       Sunday
dtype: object

In [3]:
freedays = [True if x == 'Saturday' or x == 'Sunday' else False for x in weekdays]
freedays

[False, False, False, False, False, True, True]

In [4]:
freedaysSeries = pd.Series(freedays)
freedaysSeries

0    False
1    False
2    False
3    False
4    False
5     True
6     True
dtype: bool

In [5]:
holidays = {'New Year': '2025-01-01', 'Epiphany': '2025-01-06', 'Easter': '2025-04-20'}
holidaysSeries = pd.Series(holidays)
holidaysSeries

New Year    2025-01-01
Epiphany    2025-01-06
Easter      2025-04-20
dtype: object