In [1]:
import pandas as pd

countries = pd.read_csv("countries.csv", usecols=['Symbol','Name'],index_col='Symbol').squeeze()
countries.head(20)

Symbol
AF            Afghanistan
AL                Albania
DZ                Algeria
AD                Andorra
AO                 Angola
AI               Anguilla
AQ             Antarctica
AG    Antigua and Barbuda
SA           Saudi Arabia
AR              Argentina
AM                Armenia
AW                  Aruba
AU              Australia
AT                Austria
AZ             Azerbaijan
BS                Bahamas
BH                Bahrain
BD             Bangladesh
BB               Barbados
BE                Belgium
Name: Name, dtype: object

In [2]:
countries.loc['FR']

'France'

In [3]:
countries['FR']

'France'

In [4]:
countries.at['FR']

'France'

In [5]:
countries.get('FR')

'France'

In [6]:
countries[13]

<ipython-input-6-ca509e84bf2a>:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  countries[13]

'Austria'

In [7]:
countries.iloc[13]

'Austria'

In [8]:
countries.iat[13]

'Austria'

In [9]:
nordic = ['FI', 'SE', 'NO']

In [10]:
countries[nordic]

Symbol
FI    Finland
SE     Sweden
NO     Norway
Name: Name, dtype: object

In [11]:
countries.loc[nordic]

Symbol
FI    Finland
SE     Sweden
NO     Norway
Name: Name, dtype: object