In [1]:
import pandas as pd

programmers = pd.read_csv('StackOverflowDeveloperSurvey2018.csv',
                          usecols=['ConvertedSalary'], low_memory=False).squeeze()

In [2]:
print(f'Mean: {programmers.mean()}')
print(f'Median: {programmers.median()}')
print(f'Standard Deviation: {programmers.std()}')

Mean: 95780.86178776571
Median: 55075.0
Standard Deviation: 202348.21562528735

In [3]:
programmers.max()

2000000.0

In [4]:
fortune500 = pd.read_csv('Fortune_500_2017.csv',
                         usecols=['Title', 'Employees'], index_col='Title').squeeze()
fortune500.head()

Title
Walmart               2300000
Berkshire Hathaway     367700
Apple                  116000
Exxon Mobil             72700
McKesson                68000
Name: Employees, dtype: int64

In [5]:
fortune500.idxmax()

'Walmart'

In [6]:
fortune500[fortune500.idxmax()]

2300000

In [7]:
fortune500.idxmin()

'A-Mark Precious Metals'

In [8]:
fortune500[fortune500.idxmin()]

83