In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [2]:
cities = ['Shanghai', 'Beijing', 'Istanbul']
population = [24183300, 20794100, 15030000]

In [3]:
citypop = pd.Series(population, cities)
citypop

Shanghai    24183300
Beijing     20794100
Istanbul    15030000
dtype: int64

In [4]:
citypop = pd.Series(data = population, index = cities)
citypop

Shanghai    24183300
Beijing     20794100
Istanbul    15030000
dtype: int64

In [5]:
citypop.sum()

60007400

In [6]:
citypop.mean()

20002466.666666668

In [7]:
citypop.index

Index(['Shanghai', 'Beijing', 'Istanbul'], dtype='object')

In [8]:
citypop.keys()

Index(['Shanghai', 'Beijing', 'Istanbul'], dtype='object')

In [9]:
citypop.values

array([24183300, 20794100, 15030000])