In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [2]:
import random as rnd

dataAsFloatList = []
for i in range(10000):
    dataAsFloatList.append(rnd.random() * i)

dataAsFloatSeries = pd.Series(dataAsFloatList)
dataAsFloatSeries

0          0.000000
1          0.699522
2          0.186807
3          1.996526
4          1.975676
           ...
9995    1445.375658
9996    6091.124421
9997    5142.246203
9998    1805.285529
9999    6313.717795
Length: 10000, dtype: float64

In [3]:
print(f"Size: {dataAsFloatSeries.size}")
print(f"No of bytes: {dataAsFloatSeries.nbytes}")
print(f"Shape: {dataAsFloatSeries.shape}")
print(f"Axes: {dataAsFloatSeries.axes}")
print(f"Type: {dataAsFloatSeries.dtype}")
print(f"Index: {dataAsFloatSeries.index}")
print(f"Is unique: {dataAsFloatSeries.is_unique}")
print(f"Is monotonic increasing: {dataAsFloatSeries.is_monotonic_increasing}")
print(f"Is monotonic decreasing: {dataAsFloatSeries.is_monotonic_decreasing}")

Size: 10000
No of bytes: 80000
Shape: (10000,)
Axes: [RangeIndex(start=0, stop=10000, step=1)]
Type: float64
Index: RangeIndex(start=0, stop=10000, step=1)
Is unique: True
Is monotonic increasing: False
Is monotonic decreasing: False

In [4]:
dataAsStringList = []
for i in range(10000):
    dataAsStringList.append(str(rnd.random() * i))

dataAsStringSeries = pd.Series(dataAsStringList)
dataAsStringSeries

0                       0.0
1       0.36349730671932945
2         1.548038197971164
3         2.888515801732026
4         2.439843793369679
               ...
9995     5085.0542049360765
9996       9687.36960160833
9997      9537.635477944164
9998      6940.954728400234
9999      9685.286893342089
Length: 10000, dtype: object

In [5]:
print(f"Size: {dataAsStringSeries.size}")
print(f"No of bytes: {dataAsStringSeries.nbytes}")
print(f"Type: {dataAsStringSeries.dtype}")

Size: 10000
No of bytes: 80000
Type: object

In [6]:
dataAsFloatSeries.memory_usage(deep=True)

80132

In [7]:
dataAsStringSeries.memory_usage(deep=True)

743550