In [1]:
import pandas as pd

fuel = pd.read_csv('fuel.csv', low_memory=False, usecols=['Vehicle ID', 'Year', 'Make', 'Model', 'Class', 'Fuel Type', 'Combined MPG (FT1)'], index_col='Vehicle ID')
fuel.head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0

In [2]:
fuel.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31684 entries, 26587 to 32106
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                31684 non-null  int64
 1   Make                31684 non-null  object
 2   Model               31683 non-null  object
 3   Class               31683 non-null  object
 4   Fuel Type           31683 non-null  object
 5   Combined MPG (FT1)  31683 non-null  float64
dtypes: float64(1), int64(1), object(4)
memory usage: 1.7+ MB

In [3]:
fuel.dtypes

Year                    int64
Make                   object
Model                  object
Class                  object
Fuel Type              object
Combined MPG (FT1)    float64
dtype: object

In [4]:
fuel.dtypes.value_counts()

object     4
int64      1
float64    1
Name: count, dtype: int64

In [5]:
fuel.Make.value_counts().head(10)

Make
Chevrolet        3389
Ford             2721
Dodge            2361
GMC              2174
Toyota           1599
BMW              1180
Nissan           1082
Mercedes-Benz     948
Mitsubishi        937
Pontiac           893
Name: count, dtype: int64

In [6]:
fuel.index

Index([26587, 27705, 26561, 27681, 27550, 28426, 27549, 28425, 27593, 28455,
       ...
       31673, 32062, 32059, 32061, 32058, 32060, 32063, 32065, 32064, 32106],
      dtype='int64', name='Vehicle ID', length=31684)

In [7]:
fuel.columns

Index(['Year', 'Make', 'Model', 'Class', 'Fuel Type', 'Combined MPG (FT1)'], dtype='object')

In [8]:
fuel.values

array([[1984, 'Alfa Romeo', 'GT V6 2.5', 'Minicompact Cars', 'Regular',
        20.0],
       [1984, 'Alfa Romeo', 'GT V6 2.5', 'Minicompact Cars', 'Regular',
        20.0],
       [1984, 'Alfa Romeo', 'Spider Veloce 2000', 'Two Seaters',
        'Regular', 21.0],
       ...,
       [2012, 'Mitsubishi', 'Lancer Evolution', 'Compact Cars',
        'Premium', 19.0],
       [2012, 'Mitsubishi', 'Lancer Evolution', 'Compact Cars',
        'Premium', 19.0],
       [2012, 'Mitsubish', nan, nan, nan, nan]], dtype=object)

In [9]:
fuel.axes

[Index([26587, 27705, 26561, 27681, 27550, 28426, 27549, 28425, 27593, 28455,
        ...
        31673, 32062, 32059, 32061, 32058, 32060, 32063, 32065, 32064, 32106],
       dtype='int64', name='Vehicle ID', length=31684),
 Index(['Year', 'Make', 'Model', 'Class', 'Fuel Type', 'Combined MPG (FT1)'], dtype='object')]

In [10]:
fuel.shape

(31684, 6)

In [11]:
fuel.count()

Year                  31684
Make                  31684
Model                 31683
Class                 31683
Fuel Type             31683
Combined MPG (FT1)    31683
dtype: int64

In [12]:
len(fuel)

31684